@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}
body {
  height: 100%;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary-svg-fill: #25265e;
  --editor-text-color: #25265e;
  --primary-background: #fff;
  --output-header-color: #fbfbfb;
  --secondary-background: #f5f5f5;
  --primary-border-color: #d3dce6;
  --secondary-text-color: #007efa;
  --primary-button-color: #fff;
  --mob-view-border-color: #0556f3;
  --base-background-color: #f9fafc;
  --secondary-border-color: #0556f3;
  --hover-background-color: #0047d1;
  --table-background-color: #f8faff;
  --basic-background-color: #fff;
  --primary-border-bar-color: #d3dce6;
  --plusbtn-background-color: #f5f8ff;
  --primary-color: rgba(37,38,94,.87);
  --seconday-color: rgba(37,38,94,.67);
  --hover-color: var(--secondary-background);
  --primary-box-shadow: rgba(5,151,234,.08);
  --primary-option-box-shadow: 0px 2px 8px rgba(11,1,1,.08);
}

/* dark theme */
/* :root[data-theme=dark] {
  --primary-color: #fff;
  --seconday-color: #fff;
  --primary-box-shadow: #fff;
  --primary-svg-fill: #fff;
  --editor-text-color: #fff;
  --primary-background: #1f2023;
  --output-header-color: #1f2023;
  --secondary-background: #1c2130;
  --secondary-text-color: #01c3dd;
  --primary-button-color: #fff;
  --mob-view-border-color: #01c3dd;
  --base-background-color: #1f2023;
  --secondary-border-color: #0556f3;
  --hover-background-color: #0047d1;
  --table-background-color: #1f2023;
  --basic-background-color: #2d2f34;
  --primary-border-bar-color: #fff;
  --plusbtn-background-color: #f5f8ff;
  --hover-color: var(--secondary-border-color);
  --primary-border-color: hsla(0,0%,100%,.2);
  --primary-option-box-shadow: 0px 2px 8px hsla(0,0%,100%,.2);
} */